.shopping-cart{
    margin-top: 50px;
    .shopping-cart__items{
        .items-header{
            margin-top: 50px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            > div{
                @media only screen and (max-width : 480px){
                    h6{
                        font-size: 10px;
                    }
                }
                &:first-child{
                    flex: 0 0 40rem;
                    @media only screen and (max-width : 480px){
                        flex: 0 0 7rem;
                    }
                    @media only screen and (min-width : 481px) and (max-width : 768px){
                        flex: 0 0 15rem;
                    }
                    @media only screen and (min-width : 769px) and (max-width :1024px){
                        flex: 0 0 20rem;
                    }
                }
                
            }
        }
        .item{
            margin-top:20px;
            display: flex;
            //align-items: center;
            justify-content: space-between;
            .item-datail {
                flex: 0 0 40rem;
                .item__image{
                    width: 20%;
                    float: $start-dir;
                    img{
                        @media only screen  and (max-width : 1024px){
                            width: 100%;
                        }
                    }
                }
                .card-body{
                    width: 80%;
                    float: $start-dir;
                    padding: 0rem 0.5rem;
                    p{
                        font-size: 13px;
                        color: $color;
                        @media only screen and (min-width : 769px) and (max-width : 1024px){
                            font-size: 12px;
                        }
                        @media only screen and (min-width : 481px) and (max-width : 768px){
                            font-size: 11px;
                        }
                        @media only screen and (min-width : 320px) and (max-width : 480px){
                            font-size: 10px;
                        }
                    }
                    h5{
                        @media only screen and (min-width : 769px) and (max-width : 1024px){
                            font-size: 16px;
                        }
                        @media only screen and (min-width : 481px) and (max-width : 768px){
                            font-size: 15px;
                        }
                        @media only screen and (min-width : 320px) and (max-width : 480px){
                            font-size: 10px;
                        }
                    }
                    @media only screen and (min-width : 769px) and (max-width : 1024px){
                        padding: 0.5rem 0.5rem;
                    }
                }
                @media only screen and(max-width : 480px){
                    flex: 0 0 7rem;
                }
                @media only screen and (min-width : 481px) and (max-width : 768px){
                    flex: 0 0 15rem;
                }
                @media only screen and (min-width : 769px) and (max-width :1024px){
                    flex: 0 0 20rem;
                }
            }
            .btn-group{
                padding: 10px 10px;
                border: 1px solid $color;
                border-radius: 40px;
                @media only screen and (min-width : 320px) and (max-width : 480px){
                    padding: 6px 6px;
                }
                @media only screen and (max-width : 1024px){
                    padding: 3px 4px;
                }
                @media only screen and (min-width : 481px) and (max-width : 768px){
                    margin-top: 5px;
                }
            }
            .quantity , .item-color , .item-size , .item-price{
                p , span{
                    margin-top: 10px;
                }
                @media only screen and (max-width : 480px){
                    font-size: 8px;
                    justify-content: center;
                }
            }
            .quantity {
                margin-top: 0px;
            }  
               .quantity .input-text.qty {
                width: 35px;
                padding: 0 5px;
                text-align: center;
                background-color: transparent;
                border: none;
                @media only screen and (max-width : 480px){
                    width: 8px;
                    padding: 0 0px;
                }
                @media only screen and (min-width : 481px) and (max-width : 768px){
                    width: 25px;
                    padding: 0 0px;
                }
               }
               
               .quantity.buttons_added {
                text-align: $start-dir;
                position: relative;
                white-space: nowrap;
                vertical-align: top; }
               
               .quantity.buttons_added input {
                display: inline-block;
                margin: 0;
                vertical-align: top;
                box-shadow: none;
               }
               
               .quantity.buttons_added .minus,
               .quantity.buttons_added .plus {
                border: none;
                background-color: rgba($color: white, $alpha: 0);
                cursor:pointer;}
               
               .quantity.buttons_added .minus {
                border-#{$end-dir}: 0; }
               
               .quantity.buttons_added .plus {
                border-#{$start-dir}: 0; }
               
               .quantity input::-webkit-outer-spin-button,
               .quantity input::-webkit-inner-spin-button {
                -webkit-appearance: none;
                -moz-appearance: none;
                margin: 0; }
                
                .quantity.buttons_added .minus:focus,
               .quantity.buttons_added .plus:focus {
                outline: none; }

        }
    }   
    .shopping-cart_action{
        margin: 30px 0px; 
        .row{
            align-items: flex-start;
            >div{
                &:last-child{
                    text-align: end;
                    @media only screen and (max-width : 768px){
                        text-align: $start-dir;
                    }
                }
            }
        }
        .total-cost{
            margin-top: 10px;
            @media only screen and (max-width : 768px){
                margin-top: 0px;
            }
        }
    }  
    .clear{
        clear: both;
    }
}

.shopping-methodoloy{
    text-align: $end-dir;
    span{
        position: relative;
        &:nth-child(2){
            margin-#{$end-dir}: 95px;
            &::after{
                content: '';
                width: 80px;
                height: 1px;
                background-color: $color;
                position: absolute;
                top: 50%;
                $start-dir: 50%;
                transform: translate(30% * $transform-direction ,-50%);
            }
        }
    }
    .active{
        background-color: $linkscolor;
        border-radius: 50%;
        padding: 4px 8px;
        display: inline-block;
        margin-#{$end-dir}: 95px;
        &::after{
            content: '';
            width: 80px;
            height: 1px;
            background-color: $color;
            position: absolute;
            top: 50%;
            $start-dir: 50%;
            transform: translate(30% * $transform-direction ,-50%);
        }
    }
    @media only screen and (max-width : 480px){
        text-align: $start-dir;
        margin-top: 20px;
    }
}

.continue-shopping{
    border: 1px solid #B5B5B5;
    border-radius: 50px;
    padding: 12px 23px;
    margin-#{$end-dir}: 20px;
    a{
        text-decoration: none;
        color: $backgroundcolor;
    }
    @media only screen and (max-width : 480px){
        padding: 8px 13px;
        margin-#{$end-dir}: 5px;
        font-size: 13px;
    }
}
.next-step{
    border: 1px solid $linkscolor;
    background-color: $linkscolor;
    border-radius: 30px;
    padding: 12px 20px;
    a{
        text-decoration: none;
        color: $backgroundcolor;
    }
    @media only screen and (max-width : 480px){
        padding: 8px 20px;
        font-size: 13px;
    }
}

.input-group{
    ::placeholder{
        color:#B5B5B5;
    }
    .form-control{
        border-#{$end-dir}: none;
        border-radius: 50px;
        border-color: $color;
        padding: 8px 20px;
        &:focus{
            box-shadow: none;
        }
    }
    span{
        background-color: white;
        border-color: $color;
        border-#{$start-dir}: none;
        border-radius: 50px;
        color: #B5B5B5;
    }
}
/*********************************************************************/
.item{
    margin-top:20px;
    display: flex;
    //align-items: center;
    justify-content: space-between;
    .item-datail {
        flex: 0 0 40rem;
        .item__image{
            width: 20%;
            float: $start-dir;
            img{
                @media only screen  and (max-width : 1024px){
                    width: 100%;
                }
            }
        }
        .card-body{
            width: 80%;
            float: $start-dir;
            padding: 0rem 0.5rem;
            p{
                font-size: 13px;
                color: $color;
                @media only screen and (min-width : 769px) and (max-width : 1024px){
                    font-size: 12px;
                }
                @media only screen and (min-width : 481px) and (max-width : 768px){
                    font-size: 11px;
                }
                @media only screen and (min-width : 320px) and (max-width : 480px){
                    font-size: 10px;
                }
            }
            h5{
                @media only screen and (min-width : 769px) and (max-width : 1024px){
                    font-size: 16px;
                }
                @media only screen and (min-width : 481px) and (max-width : 768px){
                    font-size: 15px;
                }
                @media only screen and (min-width : 320px) and (max-width : 480px){
                    font-size: 10px;
                }
            }
            @media only screen and (min-width : 769px) and (max-width : 1024px){
                padding: 0.5rem 0.5rem;
            }
        }
        @media only screen and(max-width : 480px){
            flex: 0 0 7rem;
        }
        @media only screen and (min-width : 481px) and (max-width : 768px){
            flex: 0 0 15rem;
        }
        @media only screen and (min-width : 769px) and (max-width :1024px){
            flex: 0 0 20rem;
        }
    }
    .btn-group{
        padding: 10px 10px;
        border: 1px solid $color;
        border-radius: 40px;
        @media only screen and (min-width : 320px) and (max-width : 480px){
            padding: 6px 6px;
        }
        @media only screen and (max-width : 1024px){
            padding: 3px 0px;
        }
        @media only screen and (min-width : 481px) and (max-width : 768px){
            margin-top: 5px;
        }
    }
    .quantity , .item-color , .item-size , .item-price{
        p , span{
            margin-top: 10px;
        }
        @media only screen and (max-width : 480px){
            font-size: 8px;
            justify-content: center;
        }
    }
    .quantity {
        margin-top: 0px;
    }  
       .quantity .input-text.qty {
        width: 35px;
        padding: 0 5px;
        text-align: center;
        background-color: transparent;
        border: none;
        @media only screen and (max-width : 480px){
            width: 8px;
            padding: 0 0px;
        }
        @media only screen and (min-width : 481px) and (max-width : 768px){
            width: 25px;
            padding: 0 0px;
        }
       }
       
       .quantity.buttons_added {
        text-align: $start-dir;
        position: relative;
        white-space: nowrap;
        vertical-align: top; }
       
       .quantity.buttons_added input {
        display: inline-block;
        margin: 0;
        vertical-align: top;
        box-shadow: none;
       }
       
       .quantity.buttons_added .minus,
       .quantity.buttons_added .plus {
        border: none;
        background-color: rgba($color: white, $alpha: 0);
        cursor:pointer;}
       
       .quantity.buttons_added .minus {
        border-#{$end-dir}: 0; }
       
       .quantity.buttons_added .plus {
        border-#{$start-dir}: 0; }
       
       .quantity input::-webkit-outer-spin-button,
       .quantity input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        -moz-appearance: none;
        margin: 0; }
        
        .quantity.buttons_added .minus:focus,
       .quantity.buttons_added .plus:focus {
        outline: none; }

}